.home{
    background-color: #ecf0f1;
    font-family: 'Barlow', sans-serif;
    font-size: 16px !important;
    padding-top: 12rem;
}
.banner{
    /* margin-top: 2rem; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.offer_banner{
margin-top: 1.3rem;
border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner_below_btn{
    cursor: pointer !important;
    outline: none;
    border: none;
    width: 250px;
    height: 50px;
    /* padding: 0.8rem; */
    /* padding-left: 3rem;
    padding-right: 3rem; */
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.8);
    background-color: #ee4054;
    border-radius: 3px;
    white-space: nowrap;
}

.banner_below_btn:hover{
    color:#ffffff;
    background-color: #ee4054;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}








.browse_text{
    font-weight: 900;
}
.category_text{
    color: #11c393;
    font-weight: 900;

}

/* .featured_btn{
    
    cursor: pointer !important;
    outline: none;
    border: none;
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.8);
    background-color:#11c393;
    border-radius: 3px;
}
.featured_btn:hover{
    color:#ffffff;
    background-color: #11c393;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.featured_text{
    font-size: 14px !important;

}
.featured_price{
    color: #fd5e47;
    font-weight: 700;
    margin-top: 1rem;
    
} */

.popular_text{
    font-size: 14px !important;

}
.popular_price{
    color: #fd5e47;
    /* font-size: 14px !important; */
    font-weight: 700;
    margin-top: 1rem;
    
}
.popular_btn{
    cursor: pointer !important;
    outline: none;
    border: none;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.8);
    background-color: #11c393;
    border-radius: 3px;
}
.popular_btn:hover{
    color:#ffffff;
    background-color: #11c393;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
/* .cart{
    width: 8rem;
    background-color: rgba(0, 0, 255, 0.623);
}
.category-icon{
    font-size: 30px;
} */


.container-fluid1{
    margin: 0;
    padding: 0 ;
    /* font-size: 14px !important; */
    color: rgba(255, 255, 255, 0.8);
    /* background-color: #ee4054;
    border-radius: 3px; */
}

.deals_title{
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
}
/* .fa-heart{
    border: solid red;
} */
.card{
    position: relative;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card_icons{
    position: absolute;
    top: 10px;
    right: 10px;
}
.overlay_icons{
    font-size: 20px;
    cursor: pointer;
    color: #ee4054;
    padding: 0.5rem;
    transition: 0.2s;

}
.overlay_icons:hover{
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff;
}
.card-body .card-title{
    font-size: 16px !important;
    font-weight: 600;
    /* color: red; */
}
.card-body .card-text{
    font-size: 14px !important;
    font-weight: 600;

    /* color: red; */
}

 .card_btn{
    cursor: pointer !important;
    outline: none;
    border: none;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.8);
    background-color: #ee4054;
    border-radius: 3px;
}
.card_btn:hover{
    color:#ffffff;
    background-color: #ee4054;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.popular_card_style:hover{
    cursor: pointer;
}
.popular_card_rating{
    display: inline-block;
    border-radius: 4px;
    /* padding: 0.3rem; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    opacity: 0.9;
    background-color: #fd5e47;
    font-size: 16px;
    color: #ffffff;

  }
.explore_btn{
    cursor: pointer !important;
    outline: none;
    border: 1px solid #11c393;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 14px !important;
    color:#11c393;
    background-color:#ffffff ;
    border-radius: 3px;
}
.explore_btn:hover{
    color:#ffffff;
    background-color: #11c393;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.bg-ptag{
    background-color:rgba(255, 255, 255, 1) ;
}


@media only screen and (max-width: 992px) {

    .offer_banner{
        margin-top: 0.5rem;
   
        }
}
@media only screen and (max-width: 768px) {

    .home{

        padding-top: 23rem;
    }
}
@media only screen and (max-width: 400px) {

    .home{

        padding-top: 25rem;
    }
}
@media only screen and (max-width: 300px) {

    .home{

        padding-top: 28rem;
    }
}
