.dashboard_header {
    font-family: "Roboto", sans-serif;
height: 70px;
background-color: #ee4054;

    border-radius: 0;
  
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
}
.dashboard_header_title{
  cursor: pointer;
}
.fa-ellipsis-v{
    cursor: pointer;
  }
  .fa-ellipsis-v:hover{
    color: rgba(0, 0, 0, 0.671);
  }
  /* vertical dots(ellipsis) list styles  */
 .logout{
  position: absolute;
  top: 50%;
  right: 0;
  /* left: 0; */
  color: rgba(51, 51, 51, 0.89);
  font-size: 14px;
  /* text-align: left; */
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
 }
 .logout li{
  list-style-type: none;
  padding: 10px 70px 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  white-space: nowrap;
 }
 .logout li:hover{
  background-color: rgba(0, 0, 0, 0.075)

 }
 .logout,.logout ul{
  padding: 0px;
}
.bottom_border{
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.bars_icon{
    display: none;
}

@media only screen and (max-width: 1165px) {
    .bars_icon{
      display: block;
    font-size: 21px;

    }
  }
